.wrapper {
  align-items: center;
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
  left: 50%;
  min-height: 50rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-header {
  font-size: 4rem;
  font-weight: 400;
}

.footer {
  bottom: 2rem;
  left: 2rem;
  position: fixed;

  &__link {
    text-decoration: none;
  }
}

@media screen and (min-width: 550px) {
  .wrapper {
    width: 1024px;
  }
}