html {
  font-size: 62.5%;
}

body {
  font-family: "IBM Plex Serif", serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 960px;
}